{% load static %}
<link href="{% static "css/bootstrap.min.css" %}"rel="stylesheet" type="text/css" />
<link href="{% static "css/core.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/components.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/icons.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/pages.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/menu.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css" />
