{% load static %}
<header class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav ms-n3">

          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link" href="/panel/">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-1">
                  <path d="M5 12l-2 0l9 -9l9 9l-2 0"/>
                  <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                  <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                </svg>
              </span>
              <span class="nav-link-title">Home</span>
            </a>
          </li>

          <!-- Grade levels (teacher view) -->
          {% for level in grade_level %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
               data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-1">
                  <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z"/>
                  <path d="M19 16h-12a2 2 0 0 0 -2 2"/>
                  <path d="M9 8h6"/>
                </svg>
              </span>
              <span class="nav-link-title">{{ level.name|upper }}</span>
            </a>
            <div class="dropdown-menu">
              {% for grade in grades %}
                {% if grade.level.id == level.id %}
                  <a class="dropdown-item" href="/sims/grades/{{ grade.name|lower }}/">{{ grade.name|upper }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </li>
          {% endfor %}

          <!-- Additional -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
               data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-1">
                  <circle cx="12" cy="12" r="9"/>
                  <path d="M12 8v4"/><path d="M12 16h.01"/>
                </svg>
              </span>
              <span class="nav-link-title">ADDITIONAL</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Add Student</a>
            </div>
          </li>

        </ul><!-- /.navbar-nav -->
      </div><!-- /.container-fluid -->
    </div><!-- /.navbar -->
  </div><!-- /.collapse -->
</header>
