@page {
	size: a5;
	padding: 0mm;
	margin: 3mm;
	margin-top: 5mm;
}
body{
	background-color: #fff;
	font-family: 'Poppins';
}
.holder{
	width: 204mm;
	height: 297mm;
	border-radius: 5px;
	border: 0.5mm solid #000;
	/* display: inline-block; */
}
.imageholder{
	width: 24mm;
	padding-top: 5mm;
	position: absolute;
	left: 8mm;
	top: 4mm;
}
.info{
	text-align: center;
	margin-top: -3mm;
}
.telephone, .motto, .school{
	margin-top: -5mm;
}
.term, .report-type{
	margin-top: -3mm;
}
.address{
	margin-top: -2mm;
}
.logo{
	width: 30mm;
}
.motto{
	margin-top: 3mm;
	font-size: 4mm;
	text-align: center;
}
.school{
	text-transform: uppercase;
	text-align: center;
	font-size: 7mm;
	font-weight: bolder;
}
.term{
	text-transform: uppercase;
	font-size: 6mm;
	font-weight: bold;
	/* text-decoration: underline; */
}
.report-type{
	border: 0.3mm solid #ddd;
	max-width: 65mm;
	margin: 1mm auto;
	padding: 1.5mm 5mm 1mm 5mm;
	text-align: center;
	font-size: 5.5mm;
	color: #000;
	font-weight: bolder;
	background-color: #ddd!important;
}


.stdname table{
	margin: 5mm;
	width: 192mm;
	/*border: 0.25mm solid #000;*/
}

.stdname td{
	font-weight: bold;
}
.muchb{
	font-weight: bolder;
	font-size: 120%;
}

.nob{
	border-top: 0.25mm solid #000;
}
.nobr{
	text-align: left;
}
.nobl{
	text-align: right;
}

.marks{
	margin: -2mm 5mm 0 5mm;
	text-align: center;
}
.drawl{
	border-left: 0.25mm solid #000000;
}
.marks table{
	width: 192mm;
	border-radius: 5px;
}
.marks table td, .marks table th {
    padding: 0.51mm 1.1mm;
    margin: 0;
	/* border-bottom: 0.25mm solid #000000; */
	border-right: 0.25mm solid #000000;
    vertical-align: top;
}

.first{
	border-top: 0.25mm solid #000000;
	font-size: 60%;
}

.marks table th{
	border-bottom: 0.25mm solid #000000;
	/*border-top: 0.25mm solid #000000;*/
	padding-top:0.5mm;
}
.cgpa{
	text-align: right;
	padding-right: 15px;
}
.trans{
	transform: rotate(270deg);
	/* transform-origin: 100% 40%; */
}
.trans2{
	transform: rotate(270deg);
	transform-origin: 60% 40%;
	font-size: 60%;
}

.subject{
	text-align: left;
	padding-left: 5mm;
}

.head_title th{
	height: 10mm;
}
.gradetab tr{
	margin: 5mm;
}

.footer{
	width: 192mm;
	margin: 0 5mm;
	text-align: center;
}

.gradetab{
	margin: 2mm 5mm 19mm 5mm;
	width: 192mm;
	display: flex;

}

.gradetab td, .gradetab th{
	border: 1px solid #000;
	padding: 0.2mm 2mm;
}
.grading td.bigg, .grading th.bigg{
	border: 1px solid #000;
	padding: 0.2mm 3mm;
	width: 23mm;
}

.gs-cent{
	text-align: center;
}

.grading, .outcomes, .extraact, .remarks, .gradetab table, .aeor, .aeo, .r{
	display: inline;
}

.outcomes{
	/* display: inline-block; */
	background-color: #fcfcfc;
}
.r{
	margin-top: 5mm;
}
.remarks{
	/* display: inline; */
	vertical-align: bottom;
	background-color: #979595;
	text-align: center;
	padding: 2.5mm 7mm 2.5mm 2mm;
	color: #fff;
	font-weight: bolder;
	margin-top: 3mm;
}

.gradetab {
	display: flex;
	flex-direction: row;
  }
  
  .grading td, .grading th {
	border: 1px solid #000;
  }
  
   .aeor {
	 display: flex;
	flex-direction: column;
	padding-left: 3mm;

   }
   
   .aeo {
	 display: flex;
	 flex-direction: row;
	 
   }

   .extraact, .outcomes{
	margin-left: 3mm;
   }

.bleft{
	border-left: 2px solid #000;
}

.first{
	border-left: 0.25mm solid #000;
}