
<!DOCTYPE html>
<html>

<head>
    <title>Result</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://app.hamro.com/static/css/printledger.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- <meta http-equiv="refresh" content="1" > -->

    <link rel="stylesheet" type="text/css" href="https://app.hamro.com/static/css/printledger.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>
        body {
            /* background-color: #eee; */
            font-family: 'Poppins', sans-serif;

            line-height: 1.45;

        }

        .holder {
            position: relative;
        }

        .trans2 {
            transform: rotate(270deg);
            transform-origin: 60% 30%;
        }

        .gradetab {
            margin: 2mm 5mm 5mm 5mm;
            width: 192mm;
        }

        .footer {
            width: 192mm;


            margin: 12mm 5mm 0mm 5mm;

            text-align: center;
            position: absolute;
            bottom: 10px;
        }

        footer td {
            border: 0;
        }
        body{
            font-size: 13px;
        }
        .tr-end{
            border-bottom: 0.25mm solid #000000;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-8 mx-auto">
            {% for key, student in data.items %}
                <div class="holder" style="background-color: #fff;">
                    <section class="header">
                        <div class="main-header" style="display: inline-block;">
                            <div class="imageholder" style="position: relative; display: inline; width: auto;">
                                <img src="https://static.hamro.com/school/1710328098.2804306Pink and Blue Lines Dance Logo.png"
                                    class="" style="position: relative; margin-top: 10px;" width="100px">
                            </div>
                            <div class="info" style="display: inline-block; float: right; margin-left: 60px;">
                                <p class="motto">&#x27;{{ school.slogan }}&#x27; </p>
                                <h1 class="school">{{ school.name }}</h1>
                                <h3 class="term">{{ school.location }}</h3>
                                <!--      <h1 class="school">SAMATA EXAMINATION BOARD</h1>
                                <h3 class="term">KATHMANDU, NEPAL</h3> -->
                                <!-- <p class="address">HALGADA, ITAHARI</p> -->
                                <p class="telephone" style="margin: -10px 0 10px 0;"><i class="fas fa-phone-square"></i>
                                    +977 {{ school.phone }}, <i class="fas fa-envelope-square"></i> {{ school.email }}
                                </p>
                                <h3 class="address">{% if term.final_term %}{{ term.final_term_name|upper }}{% else %}{{ term.term_name|upper }}{% endif %} - {{year}}</h3>
                                <!--<h3 class="address">FINAL TERM EXAMINATION - 2078</h3>-->
                                <h3 class="report-type">GRADE SHEET</h3>
                            </div>
                        </div>
                        <div class="stdname">
                            <table style="margin:1mm 5mm;">
                                <tr>
                                    <td class="nobr" colspan="3">Student Name: <span class="muchb">{{ student.name|upper }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nobr">Grade: <span class="muchb">{{ student.grade }}  </span></td>
                                    <td class="nobr">Section/Roll: <span
                                            class="muchb">{{ student.section }}/{{ student.session_detail.roll_no }}</span></td>
                                    <td class="nobr" style="text-align: right;">Symbol No: <span
                                        class="muchb">{{ student.reg_no }}</span></td>
    
                                </tr>
                                <tr>
                                    <td class="nobr">DOB : <span class="muchb">{{ student.student_detail.dob }}</span></td>
                                    <td class="nobr">EMIS : <span class="muchb"></span></td>
                                    <td class="nobr" style="text-align: right;">Contact: <span class="muchb">
                                            {% if student.student_detail.mothers_phone is not None %}{{ student.student_detail.mothers_phone }}{% elif student.student_detail.fathers_phone is not None  %}{{ student.student_detail.fathers_phone }}{% elif student.student_detail.guardian_phone is not None %}{{ student.student_detail.guardian_phone }}{% else %}N/A{% endif %}</span></td>
                                </tr>
                                <tr>
                                    <td class="nobr" colspan="2">Father's Name : <span class="muchb">{{ student.student_detail.fathers_name|upper }}</span></td>
                                    <td class="nobr" style="text-align: right;">Address: <span
                                            class="muchb">{{ student.student_detail.temporary_address|upper }}</span></td>
                                </tr>
                            </table>
                        </div>
                    </section>
                    <section class="marks">

                        <div class="marks">
                            <table>
                                <tr>
                                    <th class="first subjects" rowspan="3">S.N</th>
                                    <th class="first subjects" rowspan="3" colspan="2">SUBJECTS</th>
                                    <th class="first subjects" colspan="{{ no_of_terms_marks_count }}">OBTAINED GRADE</th>
                                    <th class="first subjects" rowspan="2" colspan="2">AGGREGATE</th>
                                </tr>
                                <tr>
                                    {% if no_of_terms >= 2 %}
                                      	{% for this_term_code, this_term_name in term_acronym.items %}
                                          <th colspan="2">{{this_term_code}}</th>
                              			    {% endfor %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% for x in no_of_terms_range %}
                                      <th>GRADE</th>
                                      <th>GP</th>
                                    {% endfor %}
                                    <th class="first subjects">GRADE</th>
                                    <th class="first subjects">GP</th>
                                </tr>
                                {% for sub in subjects %}
                                    <tr class="tr-end">
                                        <td class="subjects" rowspan="2">{{ forloop.counter }}</td>
                                        <td class="subject" style="text-align: left" rowspan="2">{{ sub }}</td>
                                        <td class="subject" style="text-align: left">TH</td>
                                        {% for term in term_list %}
                                          <td class="subject" style="text-align: center;">
                                            <span id="{{ student.reg_no }}_{{ sub.id }}_{{ term }}_th_grade"></span>
                                            <sup id="{{ student.reg_no }}_{{ sub.id }}_{{ term }}_th_symbol"></sup>
                                          </td>
                                          <td class="subject" style="text-align: center;">
                                            <span id="{{ student.reg_no }}_{{ sub.id }}_{{ term }}_th_point">
                                          </td>
                                        {% endfor %}
                                        <td class="subject" style="text-align: center;">
                                          <span id="{{ student.reg_no }}_{{ sub.id }}_th_mo_grade">
                                          <sup id="{{ student.reg_no }}_{{ sub.id }}_th_mo_grade_point_symbol"></sup>
                                        </td>
                                        <td class="subject" style="text-align: center;">
                                          <span id="{{ student.reg_no }}_{{ sub.id }}_th_mo_grade_point">
                                        </td>
                                    </tr>
                                    <tr class="tr-end">
                                        <!-- <td class="subject" style="text-align: left">NEPALI (IN)</td> -->
                                        <td class="subject" style="text-align: left">IN</td>
                                        {% for term in term_list %}
                                          <td class="subject" style="text-align: center;">
                                            <span id="{{ student.reg_no }}_{{ sub.id }}_{{ term }}_pr_grade"></span>
                                            <sup id="{{ student.reg_no }}_{{ sub.id }}_{{ term }}_pr_symbol"></sup>
                                          </td>
                                          <td class="subject" style="text-align: center;">
                                            <span id="{{ student.reg_no }}_{{ sub.id }}_{{ term }}_pr_point"></span>
                                          </td>
                                        {% endfor %}
                                        <td class="subject" style="text-align: center;">
                                          <span id="{{ student.reg_no }}_{{ sub.id }}_pr_mo_grade"></span>
                                          <sup id="{{ student.reg_no }}_{{ sub.id }}_pr_mo_grade_point_symbol"></sup>
                                        </td>
                                        <td class="subject" style="text-align: center;">
                                          <span id="{{ student.reg_no }}_{{ sub.id }}_pr_mo_grade_point"></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                               
                                

                                <tr>
                                    <th class="nob" colspan="{{ gpa_colspan }}" style="text-align: right; padding-right: 5px">
                                        GRADE POINT AVERAGE (GPA)
                                    </th>
                                    <th class="nob"><span id="{{ student.reg_no }}_gpa"></span></th>
                                </tr>
                            </table>
                            
                        </div>
                        <section class="gradetab">
                            <div class="grading">
                                <div>
                                    <table>
                                        <tr>
                                            <th colspan="6" class="gs-cent" style="font-size:90%">GRADING SYSTEM</th>
                                        </tr>
                                        <tr class="mgg">
                                            <th class="bigg">Interval in %</th>
                                            <th>Grade</th>
                                            <th class="bleft">GPA</th>
                                            <th class="bigg">Interval in %</th>
                                            <th>Grade</th>
                                            <th>GPA</th>
                                        </tr>
                                        <tr>
                                            <td class="bigg">90-100</td>
                                            <td>A<sup>+</sup></td>
                                            <td>4.0</td>
                                            <td class="bigg">50-60</td>
                                            <td>C+</td>
                                            <td>2.4</td>
                                        </tr>
                                        <tr>
                                            <td class="bigg">80-90</td>
                                            <td>A</td>
                                            <td>3.6</td>
                                            <td class="bigg">40-50</td>
                                            <td>C</td>
                                            <td>2.0</td>
                                        <tr>
                                            <td class="bigg">70-80</td>
                                            <td>B<sup>+</sup></td>
                                            <td>3.2</td>
                                            <td class="bigg">35-40</td>
                                            <td>D</td>
                                            <td>1.6</td>
                                        </tr>
                                        <tr>
                                            <td class="bigg">60-70</td>
                                            <td>B</td>
                                            <td>2.8</td>
                                            <td class="bigg">0-35</td>
                                            <td>NG</td>
                                            <td>0</td>
                                        </tr>
                                        <!--</table>
                               <table>-->
                                         {% if student.no_of_school_days and student.no_of_present_days %}
                                       	 <tr>
                          							    <td>Attendance</td>
                          							    <td colspan="5"> {{student.no_of_present_days}} days out of {{ student.no_of_school_days }} days.</td>
                                       	 </tr>
                                       	 {% endif %}

                                        <tr style="background-color: #ccc; padding:5mm;" class="mt-3">
                                            <td>REMARKS: </td>
                                            <td colspan="5" style="font-size:100%"><span
                                                    id="{{ student.reg_no }}_remarks">&nbsp;</span></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <div class="aeor">
                                <div class="aeo">
                                    <div class="grading1">
                                        <table>
                                            <tr>
                                                <th colspan="2" class="gs-cent" style="font-size:90%"> ACRONYM USED</th>
                                            </tr>
                                            <tr class="mgg">
                                                <th style="font-size:80%">CODE</th>
                                                <th style="font-size:80%">MEANING</th>
                                            </tr>
                                            <tr>
                                                <td>TH</td>
                                                <td style="font-size:80%">Theory</td>
                                            </tr>
                                            <tr>
                                                <td>IN</td>
                                                <td style="font-size:80%">Internal Evalution</td>
                                            </tr>

                                            <tr>
                                                <th style="font-size:80%">Code</th>
                                                <th style="font-size:80%">Term Name</th>
                                            </tr>

                                            {% for this_term_code, this_term_name in term_acronym.items %}
                                              <tr>
                                								<td style="font-size:80%">{{ this_term_code }}</td>
                                								<td style="font-size:80%">{{ this_term_name }}</td>
                                							</tr>
                                            {% endfor %}

                                        </table>
                                    </div>
                                </div>

                                <br>
                        </section>
                        <footer>
                            <table class="footer">
                                <tr>
                                    <td class="nobr">_______________</td>
                                    <td>_____________________</td>
                                    <td class="nobl">_____________</td>
                                </tr>
                                <tr>
                                    <td class="nobr">CLASS TEACHER</td>
                                    <td>EXAM. CO-ORDINATOR</td>
                                    <td class="nobl">PRINCIPAL</td>
                                </tr>
                            </table>
                        </footer>
                    </section>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
            
    <script>
      $(document).ready(function () {
         var obj = JSON.parse('{{ mo_dict|escapejs }}');
         Object.keys(obj).forEach(function(k){

              if(k.slice(-11) === "grade_point"){
                  $("#"+k).text(parseFloat(obj[k]).toFixed(1));
               }else if(k.slice(-8) === "th_point"){
                  if(obj[k] != 0){
                    $("#"+k).text(parseFloat(obj[k]).toFixed(1));
                  }else{
                    $("#"+k).text(0);
                  }
               }else if(k.slice(-8) === "pr_point"){
                  if(obj[k] != 0){
                    $("#"+k).text(parseFloat(obj[k]).toFixed(1));
                  }else{
                    $("#"+k).text(0);
                  }
               }
              else{
                  $("#"+k).text(obj[k]);
               }
         });
    
      });
    </script>
</body>

</html>