.nobins{
    font-size: 120%;
    color: #888;
}
.reg{
    font-size: 80%;
}
.mails .mail-select {
    padding: 0px; 
    min-width: 0px;
}

.my-auto{
margin: 0px auto;
}

.nab .form-control-static {
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px){
    .nab .form-horizontal .control-label {
        padding-top: 0px;
    }
}


.nab-t .table>tbody>tr>td, .nab-t .table>tbody>tr>th {
    vertical-align: middle;
}